{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Создание бюджета</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'logo.jpg' %}" alt="logo" class="logo"/>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/expense-list">Список расходов</a></li>
                <li><a href="/budgeting">Бюджетирование</a></li>
                <li><a href="/financial-planning">Финансовое планирование</a></li>
                <li><a href="/reports-and-analytics">Отчеты и аналитика</a></li>
                <li><a href="/account-settings">Настройки аккаунта</a></li>
                <li><a href="/support">Поддержка и обратная связь</a></li>
                <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a id="user" href="/register">Регистрация</a></li>|
                        <li><a id="user" href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
                    {% endif %}
                  </ul>
                
            </ul>
        </nav>
    </div>
    </header>
    <br>
    <br>
    <br>
    <div class="container" data-aos="fade-up">
        <h1>Создание месячного бюджета</h1>
        <form method="post">
            {% csrf_token %}
            <label for="category">Категория:</label>
            <select name="category" id="category">
                {% for category in Categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select><br><br>
            <label for="budget_amount">Сумма бюджета:</label>
            <input type="number" name="budget_amount" id="budget_amount"><br><br>
            <label for="month">Месяц:</label>
            <input type="number" name="month" id="month"><br><br>
            <label for="year">Год:</label>
            <input type="number" name="year" id="year"><br><br>
            <input type="submit" value="Сохранить">
        </form>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
        AOS.init();

        </script>
</body>
</html>
